service vendor.light-hal-2-0-m1852 /vendor/bin/hw/android.hardware.light@2.0-service.m1852
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical

on init
    chown system system /sys/class/leds/mx-led/breath
